<nav>
  <ul>
    <li><%= link_to "Back to Home", root_path %></li>
  </ul>
</nav>
<h1>All Openings</h1>
<%= link_to "new opening", new_opening_path %>
<ul>
  <% @openings.each do |opening| %>
  <li><%= opening.opening_name %></li>
  <li><%= opening.skills %></li>
  <li><%= opening.education %></li>
  <li><%= opening.years_exp %></li>
  <li><%= opening.local %></li>
  <li>
    <ul>
      <li><%= link_to "Edit", edit_opening_path(opening) %></li>
    </ul>
  </li>
  <% end %>
</ul>